<h1> 提交企业基本资料</h1>

<%= simple_form_for @job do |f| %>

<%= f.input :title, :label => "公司名称" %>
<%= f.input :description, :label => "行业" %>
<%= f.input :wage_upper_bound, :label => "上年度营业收入（单位万元）" %>
<%= f.input :wage_lower_bound, :label => "上年度纳税金额（单位万元）" %>
<%= f.input :contact_email, :label => "联系人" %>
<%= f.input :contact_email, :label => "联系人电话" %>
<%= f.input :is_hidden%>


  <%= f.submit "提交" %>
<% end %>
